.new-tweet {
  padding: 8.5px 8.5px;
  padding-bottom: 30px;
  width: 387px;
  border: solid #a59b9b;
  border-width: thin;
  background-color: #eeeeee;
  border-radius: 5px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 5px;

}

.new-tweet textarea {
  padding: 5px 5px;
  width: 100%;
  outline: none;
  z-index: 0;
}

.new-tweet input {
  float: left;
  outline: none;
}

.counter {
  text-align: right;
  display: block;
  float: right;
}

.error {
  display: none;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  background-color: #ef8383;
  font-size: 20px;
}








