.new-tweet {
  padding: 8.5px 8.5px;
  border: solid #a59b9b;
  border-width: thin;
  background-color: #eeeeee;
  border-radius: 5px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 5px;

}

.new-tweet textarea {
  padding: 5px 5px;
  width: 100%;
}

.counter {
  text-align: right;
  display: block;
  float: right;
}
