#tweet-container {
  margin-top: 20px;
}

#tweet-container article {
  border: 1px solid #a59b9b;
  border-radius: 5px;
}

#tweet-container article:hover {
  border: 1px solid black;
  color: #244751;
}

#tweet-container header {
  background-color: #eeeeee;
  height: 60px;
  padding: 0px 8px;
  line-height: 1.8em;
  color: #6d7c7d;
  font-weight: bolder;
  font-size: 24px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


#tweet-container img {
  margin-top: 7px;
  margin-right: 10px;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  border: solid;
  border-color: #7b7878;
  float: left;
}

#tweet-container handle {
  float: right;
  font-size: 10px;
}


#tweet-container main {
  height: 140px;
  padding: 28px 25px;
  font-size: 18px;
  word-wrap: break-word;
}


#tweet-container footer {
  height: 25px;
  /*border-top: thin;*/
  border-color: grey;
  padding: 0px 9px;
  line-height: 2.5em;
  font-size: 10px;
  border-top: 1px solid #a59b9b;
}







